.pagination{
    display: flex;
    justify-content: center;
    padding: 0 10px;
    margin-top: 60px;
  }
  
  .pagination li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-weight: 700;
  }
  .pagination-link{
    font-weight: 700;
    font-size: 22px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination-active .pagination-link{
    background-color: #6161b9;
    color: #fff !important;
    border-radius: 7px;
  }
  
  .pagination-prev{
    background-color: rgba(0, 0, 0, 0.063);
    margin: 0 10px;
    border-radius: 7px;
    color: #fff;
  }
  
  .pagination-next{
    background-color: rgba(0, 0, 0, 0.063);
    margin: 0 10px;
    border-radius: 7px;
    color: #fff;
  }
  