.notif_container{
    position: fixed;
    top: 13%;
    right: 20px;
    max-width: 300px;
    height: auto;
    border-radius: 7px;
    padding: 15px 5px;
    background-color: #fff;
    z-index: 50001;
}

.notif_container p{
    font-weight: 500;
    margin: 0 10px 0 6px;
}