.apprenant-domaine-btn  {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
  height: 40px;
  position: relative;
  padding: 0 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: apprenant-domaine-btn  3s infinite;
  margin-right: 10px;
  margin-bottom: 30px;
  color: #fff;
}

#course-link {
  width: 0px;
  height: 0px;
  display: initial;
  color: #7a89fe !important;
  padding: 0px;
  transition: none;
  border: none;
}

#course-link:hover {
  background-color: initial;
}

@keyframes apprenant-domaine-btn  {
  0% {
    transform: scale(0.9);
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  }
  50% {
    transform: scale(1);
    background-color: #f09d9e;
    width: 100%;
    background-image: linear-gradient(135deg, #f09d9e 0%, #9599e2 100%);
  }
  100% {
    transform: scale(0.9);
    background-color: #f09d9e;
    background-image: linear-gradient(135deg, #f09d9e 0%, #9599e2 100%);
  }
}
