form {
     background-color: #FFFFFF;
     border-radius: 5px;
}


.input, .select, textarea{
     width: 100%;
     padding: 0.5rem 0.5rem;
     outline: none;
     border: 1px solid gainsboro;
     border-radius: 10px ;
     font-size: 1rem;
}

@media (max-width: 576px){
     .input, .select {
          font-size: 1rem;
     }
}


input:focus, .select:focus, textarea:focus{
     border: 2px solid #7A89FE;
}
 
input::placeholder{
     font-weight: 100;
}

.btn-ajouter {
     box-sizing: border-box;
     border: none;
     background-color: #7A89FE;
     margin: 0 auto;
     color: #FFFFFF;
     padding: 0.5rem 1rem;
     border-radius: 5px;
}

.select {cursor: pointer;}

.loading {
     width: 25px;
     height: 25px;
     border-radius: 50%;
     border: 4px solid #FFFFFF;
     border-top: 4px solid rgb(206, 200, 200);
     margin: 0px auto;
     animation: spin 1s linear infinite;
}


@keyframes spin {
     0% {
       transform: rotate(0deg);
     }
   
     100% {
       transform: rotate(360deg);
     }
}