.profDomaine {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  height: 40px;
  position: relative;
  padding: 0 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: profText 3s infinite;
  margin-right: 10px;
  color: #fff;
}

@keyframes profText {
  0% {
    transform: scale(1);
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  }
  50% {
    transform: scale(1.1);
    background-color: #f09d9e;
    background-image: linear-gradient(135deg, #f09d9e 0%, #9599E2 100%);    
  }
  100% {
    transform: scale(1);
    background-color: #f09d9e;
    background-image: linear-gradient(135deg, #f09d9e 0%, #9599E2 100%);
    
  }
}