#course-link{
     display: inline-block;
     width: auto !important;
     height: 30px;
     padding: 0px 20px;
     border-radius: 10px;
     border: 1px solid #7a89fe;
     color: #7a89fe;
     font-weight: 500;
     font-size: 15;
     cursor: pointer;
     margin-right: 10;
     
}

/* all: 'unset',
height: 30,
padding: '0 20px',
borderRadius: '10px',
border: '1px solid #7a89fe',
color: '#7a89fe',
fontWeight: 500,
fontSize: 15,
cursor: 'pointer',
marginRight: 10 */