/* rgb(254, 219, 194) */

.Container-prof{
    /* background-color: #302f79  !important; */
    width: 100%;
    height: 80px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
/* .textP{
    color: #fff !important ;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 0.7rem;
}
.number{
    position: absolute;
    top: 2.2rem;
} */