.Modal {
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: rgba(124, 122, 122, 0.4);
     z-index: 1000;
     overflow-y: auto;
}

.form-edit {
     /* width: 60%;
     padding: 5px;
     box-sizing: border-box;
     text-align: justify;
     margin: 2rem auto;
     background-color: white;
     transform: translateY(20%);
     border-radius: 10px; */
     width: 550px;
     max-width: 700px;
     box-sizing: border-box;
     background-color: #FFF;
     border-radius: 10px;
     padding: 5px;
}


.btn-delete {
     float: right;
     clear: both;
     margin-right: 20px;
     margin-bottom: 50px;
     cursor: pointer;
}



@media (max-width: 575px) {
     .mb-4 {
          width: 80%;
          margin: auto;
     }

     .Modal .btn-ajouter {display: block; margin: auto;}
}


@media (max-width: 638px) {
     .form-edit {
          width: 90%;
     }
}


.loading {
     width: 25px;
     height: 25px;
     border-radius: 50%;
     border: 4px solid #FFFFFF;
     border-top: 4px solid rgb(206, 200, 200);
     margin: 0px auto;
     animation: spin 1s linear infinite;
}


@keyframes spin {
     0% {
       transform: rotate(0deg);
     }
   
     100% {
       transform: rotate(360deg);
     }
}

