/* rgb(254, 219, 194) */

.Container-prof{
    background-color: rgb(254, 219, 194);
    width: 100%;
    height: 80px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}
.textP{
    color: #100F48 ;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 0.7rem;
}
.number{
    position: absolute;
    top: 2.2rem;
}