/* content placeholder */
.skeleton {
  width: 28px;
  height: 280px;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 75%);
  }
}

.grid-item {
  background-color: #18174e;
  color: white;
  width: 100%;
  min-height: 260px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* margin-bottom: ; */
}
.card-img {
  width: 100%;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}
.card-img:hover img {
  transform: scale(1.1);
}
.card-img span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 7px;
  border-radius: 5px;
  color: white;
}

.card-info {
  width: 100%;
  padding: 0.5rem;
}
.card-info .card-btn {
  all: unset;
  width: auto;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #17b293;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

.card-info .cardBtn-btn {
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #fffe;
}

.card-info .cardBtn-btn:hover {
  margin-right: 10px;
  background-color: rgba(199, 17, 17, 0.538);
  /* border: 1px solid r; */
}

.titre-carte {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  text-align: start;
}
.children {
  position: absolute;
  display: flex;
  align-items: center;
  /* bottom: 8%; */
}

@media only screen and (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    min-height: 320px;
  }

  .card-img img {
    height: 200px;
  }
}
