.dashboard{
    display: grid;
    grid-template-columns: max-content 2fr;
    grid-template-areas: 'sidebar main';
}

.left-side{
    grid-area: 'sidebar';
}

.right-side{
    grid-area: 'main';
}

.containt{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'containt aside';
    column-gap: 2rem;
    padding: 2rem 1rem 2rem 2rem;
    margin-top: 2rem;
    min-height: 100vh;
}


@media screen and (max-width: 750px) {
    .containt{
        grid-template-columns: 1fr;
        grid-template-areas: 'containt '
                             'aside'; 
        row-gap: 2rem;
        padding: 1rem;
        min-height: 100vh;
    }
}

.main-containt{
    grid-area: 'containt';
    z-index: 1;
}

.aside-containt{
    grid-area: 'aside';
}

.table-responsive{
    overflow-y: clip !important;
}