/* basic styles */
.skeleton {
  background-color: #ddd;
  margin: 10px 0;
  border-radius: 4px;
}

.skeleton.button {
  width: 50%;
  height: 40px;
}

.skeleton.title {
  width: 60%;
  height: 20px;
  margin-bottom: 15px;
}

.skeleton.thumbnail {
  width: 100%;
  height: 150px;
}

.skeleton-wrapper {
    width: 100%;
    height: 100%;
  margin: 20px auto;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #212052;
  position: relative;
}

/* animation effect */
.shimer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 1.5s infinite;
  overflow: hidden;
}

.shimer{
    width: 95%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(0deg);
}

@keyframes loading {
    0%{
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(-60%);
    }
    100%{
        transform: translateX(150%);
    }
}