.noWrap {
    white-space: nowrap;
}

.btn-archiveL{
    color:#17B293;
}
.btn-modifl{
    color: #FC8476;
    text-align: center;
    cursor: pointer;
}

.table tbody tr{
    border-bottom:1px solid #515157;
    line-height: 40px;
    text-align: center;
    padding: 12px 15px;
}

thead{
    background-color:#100F48;
    color: white;
}

.missing-teacher {
    background-color: #FFFF5C;
}

/* .table{
    overflow:auto; 
} */
  