* {
  margin: 0;
  padding: 0;
}
.overLayEdit {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modalContainerEdit {
  height: auto;
  width: 50%;
  position: relative;
}
@media (max-width: 850px) {
  .modalContainerEdit{
    width: 450px;
    padding: 0;
  }
}

.header_form_editCour {
  color: black;
  width: 100%;
  padding: 0;
}

.closeBtnEdit{
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
}

/* My form */
form {
  background-color: #ffffff;
  border-radius: 5px;
}

.input,
.select,
textarea {
  width: 100%;
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 10px;
  font-size: 1rem;
}

@media (max-width: 576px) {
  .input,
  .select {
    font-size: 1rem;
  }
}

input:focus,
.select:focus,
textarea:focus {
  border: 2px solid #7a89fe;
}

input::placeholder {
  font-weight: 100;
}

.btn-edit {
  box-sizing: border-box;
  border: none;
  background-color: #7a89fe;
  margin: 0 auto;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 50%;
  text-align: center;
}

.select {
  cursor: pointer;
}

.loading {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  border-top: 4px solid rgb(206, 200, 200);
  margin: 0px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modalBouttonEdit{
  box-sizing: border-box;
  border: none;
  background-color: #17B293;
  margin: 0 1rem;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
