.right-side-apprenant{
    padding-left: 199px;
}

@media (max-width: 1200px){
    .right-side-apprenant{
        padding-left: 197px;
    }
}

@media (max-width: 991px){
    .right-side-apprenant{
        padding-left: 81px;
    }
}
@media (max-width: 767px){
    .right-side-apprenant{
        padding-left: 57px;
    }
}
@media (max-width: 575px){
    .right-side-apprenant{
        padding-left: 0;
    }
}
