.coursVideos {
  width: 100%;
  height: auto;
  border: 1px solid rgba(128, 128, 128, 0.325);
  border-radius: 7px;
  padding: 10px;
  background-color: #fff;
}

.coursVideos-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.coursVideos form {
    background-color: transparent;
}

.coursVideos .inputLabel {
    width: 350px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 3px;
}

.coursVideos .inputLabel label {
    width: 110px;
    font-size: 17px;
}

.coursVideos .inputLabel input {
    all: unset;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 7px;
    padding: 2px 5px;
}

.coursVideos .module-description{
    margin-top: 30px;
    font-size: 17px;
}

.coursVideos .module-description label{
    margin-bottom: 10px;
}

.coursVideos .module-description textarea{
    border-radius: 7px;
}

.coursVideos .videos{
    margin-top: 40px;
}


.coursVideos .videos h4{
    text-align: center;
}

.coursVideos .videos span{
    font-size: 16px;
    font-weight: 500;
}

.coursVideos .videos .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.coursVideos .videos input{
    all: unset;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid rgba(128, 128, 128, 0.347);
    padding: 3px 10px;
}

.coursVideos .btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coursVideos .btn button{
    all: unset;
    background-color: rgb(110, 110, 243);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 1px 5px;
    font-size: 1.4rem;
}

.coursVideos .btn-add{
    background-color: rgba(72, 95, 177, 0.675);
    padding: 5px 10px;
    border-radius: 7px;
    margin-right: 10px;
    margin-bottom: 50px;
    color: white;
    cursor: pointer;
}