.singleCours{
    width:100%;
    height:auto;
}

.singleCours .header{
    width:100%;
    height: 250px;
    border-radius: 7px;
    overflow: hidden;
}

.singleCours .description{
    margin-top: 40px;
    color: rgb(76, 76, 76);
    margin-bottom: 40px;
}



.singleCours .youtube{
    width:100%;
}