.drop{
    box-sizing: border-box;
    border: none;
    background-color: #7A89FE;
    /* background-color: transparent; */
    margin: 0 auto;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

header {
    background-color: white;
}

/* .fixed-h2{
    position: fixed;
    left: 45%;
    transform: translateX(-50%);
} */

@media (max-width: 1310px) {
    /* .fixed-h2{
        left: 18%;
    } */
}

@media (max-width: 1260px) {
    /* .fixed-h2{
        left: 20%;
    } */
}

@media (max-width: 1150px) {
    /* .fixed-h2{
        left: 22%;
    } */
}

@media (max-width: 1060px) {
    /* .fixed-h2{
        left: 24%;
    } */
}

@media (max-width: 991px) {
    /* .fixed-h2{
        left: 10%;
    } */
}