.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
    gap: 1rem;
}

.left{
    grid-area: 'left';
    background-color: rgb(122,137,254);
    color: white;
    padding: 1rem;
}

.right{
    grid-area: 'right';
}

@media (max-width: 1250px) {
    .header-container{
        grid-template-columns: 1fr;
        grid-template-areas: 'right'
                             'left';
    }

    .left, .right {
        max-width: 600px;
        margin: auto;
    }
}