* {
  margin: 0;
  padding: 0;
}
.overLay {
  background-color: rgba(124, 122, 122, 0.4);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.modalContainer {
  max-width: 600px;
  width: 95%;
  box-sizing: border-box;
  /* display: flex; */
  background-color: #18174e;
  color: white;
  padding: 2.5em 1.9em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.detailTitle {
  text-transform: uppercase;
  font-weight: 700;
}

.detailValue {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 4px;
}

.modalBouttonEdit {
  box-sizing: border-box;
  border: none;
  background-color: #17b293;
  margin: 0 1rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.modalBoutonArchive {
  box-sizing: border-box;
  border: none;
  background-color: #17b293;

  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.container-bouton {
  display: flex;
  justify-content: flex-end;
}
.titreModal {
  color: white !important;
  font-size: 20px;
}
.titreDomaine {
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
