.form-container{
    width: 66%;
}

.filter-form{
    width: 100%;
    align-self: flex-start;
}

@media (max-width: 992px){
    .form-container{
        width: 100%;
    }

    .filter-form{
        width: 100%;
    }
}

@media (max-width: 576px){
    .filter-form{
        width: 100%;
    }
}

.btn-select:focus{
    border: 2px solid #7A89FE;
}

.btn-select{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #100f48;
    margin: 0 auto;
    color: #100F48;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#selected * {
    padding: 1rem 0 !important;
}

