.logo-img {
  margin-top: -35px;
}

@media (max-width: 900px) {
  .logo-img {
    margin-top: -10px;
  }
}

.logo {
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 7px;
}

a {
  display: block;
  width: 100% !important;
  padding: 0.5rem;
  text-decoration: none !important;
  color: #100f48 !important;
  font-size: 1rem;
  transition: color 0.25ms;
}

.icon {
  font-size: 1.6rem;
  color: #100f48;
  transition: color 0.25ms;
  margin-right: 0.5rem;
}

a:hover {
  background-color: #7a89fe;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.active {
  background-color: #7a89fe;
  cursor: pointer;
  border-radius: 5px;
}

.active .icon,
.active span {
  color: white;
}

a:hover,
a:hover .icon {
  color: white !important;
}

@media (max-width: 991px) {
  li {
    padding: 0.5rem 0;
    text-align: center;
  }

  .icon {
    font-size: 2rem;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  ul,
  li {
    width: 100%;
    text-align: start;
  }

  ul {
    padding: 3rem;
  }
  a {
    padding: 1rem;
  }

  .icon {
    margin-right: 0.5rem;
  }
}

.menuItem {
  /* display: flex; */
  align-items: center;
  /* gap:0.5rem; */
  /* height: 2.5 rem; */
  /* margin-left: 2rem; */
  /* position: relative; */
  /* transition: all 300ms ease; */
  font-size: 1rem;
  border-radius: 0.2rem;
}
.background {
  background-color: #f0ecec;
}
.backSide {
  background-color: white;
}

.btn-hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 0px 3px !important;
}

/* ---------- --------- ----------  */
.to-archived-apprenants, .to-archived-profs, .to-archived-cours {
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
  font-weight: bolder;
  top: -6%;
  left: 1%;
  background-color: red;
  padding: 0.1rem 0.3rem 0.5rem 0.3rem;
  border-radius: 100%;
  color: white;
}

@media (max-width: 991px) {
  .to-archived-cours, .to-archived-profs, .to-archived-apprenants{
    top: 10%;
    left: 5%;
    padding: 0.1rem 0.3rem 0.5rem 0.3rem;
  }
}
