.overlayModal {
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color:rgba(124, 122, 122, 0.4);
     z-index: 1000;
     overflow-y: auto;
}

.form-add-user {
     width: 550px;
     max-width: 700px;
     box-sizing: border-box;
     background-color: #FFF;
     border-radius: 10px;
     padding: 5px;
}

.select {padding: 0.5rem 2rem;}


@media (max-width: 576px){
     .form-add-user{width: 90%;}
     .input, .select {
          font-size: 1rem;
     }

     .btn-ajouter {display: block; margin: auto;}
}