.noWrap {
    white-space: nowrap;
}

/* .resp-table{
    overflow: auto !important;
} */

.btn-archiveL{
    color:#17B293;
}

.btn-modifl{
    color: #FC8476;
    border-radius: 10px;
}

thead{
    background-color:#100F48;
    color: white;
}
