section{
    background-color: white;
    min-height: 400px;
}
.icon-danger{
    width: 10%;
    color: red;
}
.btn-ajouter{
    background-color: #a8e5bb;

}

.link-white {color: #FFF !important;
font-weight: bold;}