.wrapper {
     width: 100%;
     min-height: 580px;
     background-color: #FFF;
     border-radius: 10px;
     text-align: center;
     padding: 0px 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.wrapper p:nth-child(2) {
     color: #7A89FE;
     font-size: 3rem;
}

.wrapper p:nth-child(3) {
     font-size: 1.5rem;
}

.button {
     padding: 10px 15px;
     font-size: 17px;
     border: none;
     border-radius: 10px !important;
     background-color: #7A89FE;
     color: white;
     text-transform: uppercase !important;
}