h1{
    color: #100F48 !important;
}

.auth {
    background-color: #7A89FE !important;
    color: white !important;
    outline: none;
    border-radius: 1px;
}

.login-input{
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    outline: none;
}

input:focus{
    border: 2px solid #7A89FE;
}

input::placeholder{
    font-weight: 100;
}