.snackbar {
    background-color: #17B293;
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    max-width: 310px;
    position: absolute;
    right: 5%;
    top: 10%;
}

.check {
    font-size: 1.2rem;
}

.message {
    font-size: 1.2rem;
    margin: 0;
    padding-left: 0.2rem;
}