.user-container{
    /* background-color: rgb(255, 255, 255); */
    /* height: 100vh; */
    padding-left: 0.5rem;
    border-left: 1px solid #1b1b63;
}

.user-card {
    background-color: #45457e;
    color: white;
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    /* max-width: 200px; */
    width: 100%;
    height: 45px;
}

.user-avatar{
    margin-right: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
}

.user-avatar--icon {
    font-size: 2rem;
}