.contenant {
  display: grid;
  grid-template-columns: auto(2, 1fr);
  grid-gap: 0.6rem;
  grid-template-areas:
    "programmation design"
    "marketing entreprenariat";
}

.progra {
  grid-area: programmation;
}
.design {
  grid-area: design;
}
.marketing {
  grid-area: marketing;
}
.entrepr {
  grid-area: entreprenariat;
}

.Container-course {
  background-color: #fff;
  color: gray;
  width: 100%;
  height: 80px;
  padding: 5px 10px;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
}

/* .Container-course:hover{
  color: #fff
} */

.Container-course hr{
  border: 1px solid gray
}

/* .Container-course:hover hr{
  border: 1px solid #fff
} */

.Nprogra,
.Ndesign,
.Nmarket,
.Nentrep {
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.5s;
  opacity: 0.6;
}

.Container-course{
  
    width: 100%;
    height: 90px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  
}
.textPcours{
    color: #fff ;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 1.5rem;
    
}
.number{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.Container-course:hover {color: #FFF;}

.Container-course .Nprogra {
  background-color: #6A040F;
}
.Container-course .Ndesign {
  background-color: #284B63;

}
.Container-course .Nentrep {
  background-color: orange;
}
.Container-course .Nmarket {
  background-color: #007200;
}

.Container-course:hover .Nprogra {
  width: 100%;
}
.Container-course:hover .Ndesign {
  width: 100%;
}
.Container-course:hover .Nentrep {
  width: 100%;
}
.Container-course:hover .Nmarket {
  width: 100%;
}

@media screen and (max-width: 930px) and (min-width: 751px) {
  .contenant {
    display: grid;
    grid-template-columns: auto(1, 1fr);
    grid-gap: 0.6rem;
    grid-template-areas:
      "p "
      "d"
      "m"
      "e";
  }
  .progra {
    grid-area: p;
  }
  .design {
    grid-area: d;
  }
  .marketing {
    grid-area: m;
  }
  .entrepr {
    grid-area: e;
  }
}
