.overLayAdd {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(44, 37, 37, 0.4);
  z-index: 2;
}

.form-add {
  width: 500px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
}

.input-modal {
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}

/* .input-modal:focus{
     outline: ;
} */

textarea {
  padding: 0.5rem;
  resize: none;
}

svg.btn-cancel {
  padding: 0;
  width: 10%;
  position: relative;
  left: 90%;
}

.btn-ajouter {
  box-sizing: border-box;
  border: none;
  background-color: #7a89fe;
  margin: 0 auto;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.loading {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  border-top: 4px solid rgb(206, 200, 200);
  margin: 0px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .form-add {
    width: 90%;
  }
  .input,
  .select {
    font-size: 1rem;
  }
}
