.title {
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.5rem;
  max-width: 300px;
  text-align: center;
  color: white;
  background-color: #6161b9;
  background-image: linear-gradient(160deg, #6161b9 0%, #28288b 99%);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
}
.grid-item {
  background-color: #18174e;
  color: white;
  width: 100%;
  min-height: 280px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.grid-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-listcour {
  border: none;
  background-color: white;
}

.grid-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.modalBtn {
  box-sizing: border-box;
  border: none;
  background-color: #17b293;
  margin: 0 auto;
  color: #ffffff;
  padding: 0.5rem 1rem;

  border-radius: 5px;
}

.closeBtn {
  margin-top: 1px;
  margin-right: 1px;
  float: right;
  border-radius: 5px;
}

.modalBtn:hover {
  background-color: #37b89e;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    min-height: 320px;
  }

  .card-img img {
    height: 200px;
  }
}